body {
    font-family: Arial, sans-serif;
    color: #5c4033;
    background-color: #f9ebeb;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}